<div class="row">
                <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 col-custom">

                    <!-- Product Details Image Start -->
                    <div class="product-details-img">


                        <!-- Single Product Image Start -->
                        <div class="single-product-img swiper-container gallery-top swiper-container-initialized swiper-container-horizontal">
                            <div class="swiper-wrapper popup-gallery" id="swiper-wrapper-2ed2e925f308d8bf" aria-live="polite" style="transform: translate3d(-480px, 0px, 0px); transition: all 0ms ease 0s;"><a class="swiper-slide w-100 swiper-slide-duplicate swiper-slide-prev" href="/assets/images/products/large-size/6.jpg" data-swiper-slide-index="5" role="group" aria-label="1 / 8" style="width: 470px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </a>
                                 <a class="swiper-slide w-100 swiper-slide-active" href="/assets/images/products/large-size/1.jpg" " data-swiper-slide-index="0" role="group" aria-label="2 / 8" style="width: 470px; margin-right: 10px;">
                                  <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </a>
                             <a class="swiper-slide w-100 swiper-slide-duplicate swiper-slide-duplicate-active" href="/assets/images/products/large-size/1.jpg" data-swiper-slide-index="0" role="group" aria-label="8 / 8" style="width: 470px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </a></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <!-- Single Product Image End -->

                        <!-- Single Product Thumb Start -->
                        <div class="single-product-thumb swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-2ed2e925f308d8bf">
                            <div class="swiper-wrapper" id="swiper-wrapper-dad8e8a726e95104e" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;">

                                <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="1 / 6" style="width: 110px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group" aria-label="2 / 6" style="width: 110px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </div>
                                <div class="swiper-slide swiper-slide-visible" role="group" aria-label="3 / 6" style="width: 110px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </div>
                                <div class="swiper-slide swiper-slide-visible" role="group" aria-label="4 / 6" style="width: 110px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </div>
                                <div class="swiper-slide" role="group" aria-label="5 / 6" style="width: 110px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </div>
                                <div class="swiper-slide" role="group" aria-label="6 / 6" style="width: 110px; margin-right: 10px;">
                                    <%= image_tag(@product.img, class: "w-100", alt: "Product" ) %>
                                </div>
                            </div>

                            <!-- Next Previous Button Start -->
                            <div class="swiper-button-horizental-next  swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-2ed2e925f308d8bf"><i class="pe-7s-angle-right"></i></div>
                            <div class="swiper-button-horizental-prev swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-2ed2e925f308d8bf"><i class="pe-7s-angle-left"></i></div>
                            <!-- Next Previous Button End -->

                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <!-- Single Product Thumb End -->

                    </div>
                    <!-- Product Details Image End -->

                </div>
                <div class="col-lg-7 col-custom">

                    <!-- Product Summery Start -->
                    <div class="product-summery position-relative">

                        <!-- Product Head Start -->
                        <div class="product-head mb-3">
                            <h2 class="product-title"><%= @product.title %></h2>
                        </div>
                        <!-- Product Head End -->

                        <!-- Price Box Start -->
                        <div class="price-box mb-2">
                            <span class="regular-price">$<%= @product.price %></span>
                            <span class="old-price"><del>$<%= @product.old_price %></del></span>
                        </div>
                        <!-- Price Box End -->

                        <!-- Rating Start -->
                        <span class="ratings justify-content-start">
                                <span class="rating-wrap">
                                    <span class="star" style="width: 100%"></span>
                        </span>
                        <span class="rating-num">(4)</span>
                        </span>
                        <!-- Rating End -->

                        <!-- SKU Start -->
                        <div class="sku mb-3">
                            <span>SKU: 12345</span>
                        </div>
                        <!-- SKU End -->

                        <!-- Description Start -->
                        <p class="desc-content mb-5"><%= @product.description %></p>
                        <!-- Description End -->

                        <!-- Product Meta Start -->
                        <div class="product-meta mb-3">
                            <!-- Product Size Start -->
                            <div class="product-size">
                                <span>Size :</span>
                                <a href=""><strong>S</strong></a>
                                <a href=""><strong>M</strong></a>
                                <a href=""><strong>L</strong></a>
                                <a href=""><strong>XL</strong></a>
                            </div>
                            <!-- Product Size End -->
                        </div>
                        <!-- Product Meta End -->

                        <!-- Product Color Variation Start -->
                        <div class="product-color-variation mb-3">
                            <button type="button" class="btn bg-danger"></button>
                            <button type="button" class="btn bg-primary"></button>
                            <button type="button" class="btn bg-dark"></button>
                            <button type="button" class="btn bg-success"></button>
                        </div>
                        <!-- Product Color Variation End -->

                        <!-- Product Meta Start -->
                        <div class="product-meta mb-5">
                            <!-- Product Metarial Start -->
                            <div class="product-metarial">
                                <span>Metarial :</span>
                                <a href=""><strong>Metal</strong></a>
                                <a href=""><strong>Resin</strong></a>
                                <a href=""><strong>Lather</strong></a>
                                <a href=""><strong>Polymer</strong></a>
                            </div>
                            <!-- Product Metarial End -->
                        </div>
                        <!-- Product Meta End -->

                        <!-- Quantity Start -->
                        <div class="quantity mb-5">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" value="0" type="text">
                                <div class="dec qtybutton"></div>
                                <div class="inc qtybutton"></div>
                            <div class="dec qtybutton"><i class="fa fa-minus"></i></div><div class="inc qtybutton"><i class="fa fa-plus"></i></div></div>
                        </div>
                        <!-- Quantity End -->

                        <!-- Cart & Wishlist Button Start -->
                        <div class="cart-wishlist-btn mb-4">
                            <div class="add-to_cart">
                                <a class="btn btn-outline-dark btn-hover-primary" href="/cart_items">Add to cart</a>
                            </div>
                            <div class="add-to-wishlist">
                                <a class="btn btn-outline-dark btn-hover-primary" href="wishlist.html">Add to Wishlist</a>
                            </div>
                        </div>
                        <!-- Cart & Wishlist Button End -->

                        <!-- Social Shear Start -->
                        <div class="social-share">
                            <span>Share :</span>
                            <a href="#"><i class="fa fa-facebook-square facebook-color"></i></a>
                            <a href="#"><i class="fa fa-twitter-square twitter-color"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square linkedin-color"></i></a>
                            <a href="#"><i class="fa fa-pinterest-square pinterest-color"></i></a>
                        </div>
                        <!-- Social Shear End -->

                        <!-- Product Delivery Policy Start -->
                        <ul class="product-delivery-policy border-top pt-4 mt-4 border-bottom pb-4">
                            <li> <i class="fa fa-check-square"></i> <span>Security Policy (Edit With Customer Reassurance Module)</span></li>
                            <li><i class="fa fa-truck"></i><span>Delivery Policy (Edit With Customer Reassurance Module)</span></li>
                            <li><i class="fa fa-refresh"></i><span>Return Policy (Edit With Customer Reassurance Module)</span></li>
                        </ul>
                        <!-- Product Delivery Policy End -->

                    </div>
                    <!-- Product Summery End -->

                </div>
            </div>
